* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Main Body */
.main {
  background-color: #ffffff;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  position: relative;
  font-family: sans-serif;
}

/* Navigation Bar */
.navbar {
  background-color: #77005f;

  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 160px;
  padding: 10px 30px;
  cursor: pointer;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  margin-right: 20px;
}

ul li a {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4 ease;
}

ul li a:hover {
  color: #929292;
}

/* End of Navigation Bar */

/* Information */
.info {
  color: #000000;
  padding: 5em;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.info-contents {
  order: 1;
}

.info h1 {
  font-size: 60px;
  color: #000000;
}

.info h3 {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 24px;
}

.info span {
  color: #77005f;
}

.info a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;

  background-color: rgb(0, 0, 0);
  padding: 10px 18px;
  margin: 26px 0;
  border-radius: 10px;
  display: inline-block;
  transition: 0.4 ease;
}

.info a:hover {
  background: #77005f;
}

/* End of Information */

/* Start of Image */
.img-container {
  position: relative;
}

/* Mobile and Desktop Devices */
@media screen and (min-width: 961px) {
  .image {
    display: block;
  }

  .info-contents {
    order: 0;
  }

  .info {
    flex-direction: row;
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
  }

  .skill {
    align-items: start;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }
}

/* Tablets Devices */

@media screen and (min-width: 601px) and (max-width: 960px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
  }

  .skill {
    align-items: start;
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}

/* Footer */
