*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navigation Bar */

img{
  width: 200px;
  margin-right: 600px;
}

.header-container{
  color: #fff;

  border: #222222 solid 1px;
  padding: 20px 0;

  display: flex;
  justify-content: center;
}

.header-bar{
  width: 900px;

  display:flex;
  justify-content: space-between;
}

.menu {

  margin-top: 100px;

  display: flex;
  justify-content: flex-end;
}

.home {
  margin-right: 20px;
}
.services {
  margin-right: 20px;
}

.projects {
  margin-right: 20px;
}

.contact-me {
  margin-right: 20px;
}

nav a:hover, a:active {
  color: #eaeaea82;
  font-size: 150%;
  }

  /* End of Navigation Bar */

  /* Header */

body {
    background-color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

    background-image: url("/images/background.svg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
     }

   /* End of Header */

   /* About Me */

   .about {

    color: #ffffffcf;
    margin: 20px 20px;
    
    
    }

   ul{
    list-style: none;

   }

   /* Start of footer */

   .footer{
    display: flex;
    justify-content: space-between;
  }

  .footer-item{
    background-color: #d6e9fee6;
    margin-top: 300px;
    height: 80px;
    flex: 1;
  }

.footer-one,
.footer-three{
  background-color: #ffffffa3;
  flex: initial;
  width: 300px;
}

.fb,
.email,
.phone{

width: 30px;
margin: 10px 10px; 
text-align:left;

}
   /* End of footer */
