* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Projects Section */

.projects span {
  color: #77005f;
}

.projects {
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;
}

.projects-header h2 {
  margin-bottom: 50px;
}

.all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.btn.btn-animationproject {
  background: #86006b;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}
.btn.btn-animationproject:hover {
  background: transparent;
  border-color: #000000;
  color: #030303;
}

.btn.btn-animationcode {
  background: #86006b;
  color: #ffffff;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
.btn.btn-animationcode:hover {
  background: transparent;
  border-color: #000000;
  color: #030303;
}
